/* rgb(92, 77, 221) */

#header-title{
    font-size: 50px;
}

#about{
    padding: 100px;
    background-color: white;
}

#featured{
    padding: 100px;
    background-color: rgb(92, 77, 221);
}

#featured-btn{
    color: white;
}

.card-text{
    color: black;
}

#brands{
    color: black;
    background-color: white;
    text-align: center;
    padding: 100px;
}

#brand-list{
    margin: 25px;
}